@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />

    <h2>Şifrə Yeniləmə Səhifəsi</h2>
    <form method="post">
        <label>Mail Adresini Daxil Edin</label>
        @Html.TextBoxFor(x=>x.Mail, new {@class ="form-control"})

        <br />
        <button class="btn btn-primary">Mail Adresimə Link Göndər</button>
    </form>

</div>
