@using CoffeStore.EL;
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Home/Index/">Ana Səhifə</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Haqqımızda</li>
        </ul>
    </div>
</section>
<section class="w3l-aboutblock1 py-5" id="bottom">
    <div class="container py-lg-5 py-md-3">
        @foreach (var x in Model.Where(x=>x.Status==true))
        {
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="title-small mb-3">@x.Title</h5>
                    <h3 class="title-big">@x.AboutUs</h3>
                    <p class="mt-4">
                        @x.Description
                    </p>
               

                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ">
                    <img src="@x.Image" alt="" class="radius-image img-fluid">
                </div>
            </div>
        }
    </div>
</section>

